body {
}
.display-4 {
  font-family: "Monoton", cursive;
  color: orange;
  text-align: center;
}
.jumbotron {
  background-image: url(../images/sun-pattern/sun-pattern.png);
}
p {
  text-align: center;
}
btn.btn-primary.btn-lg {
  text-align: center;
}
#linesForLetters{
  text-align: center;
}
